@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --color1: #e5e2d3; /*nav,footer 글씨색1*/
    --color2: #50655e; /*글씨색2*/
    --color3: white; /*전체배경3*/
    --color4: #e6e5e1; /*배경4*/ 
    --color5: #627b82; /*nav,footer배경5*/
    --color6: white; /*배경6*/
    --color7: #ffffff; /*배경4*/
    --color8: #ccd4c7;                   
}


#review_warp {
    margin: 0;
    padding: 0;  
    outline: none;
    border: none;
}
 
#review_warp img {
    display: block;  
    max-width: 100%;
    height: auto;
	object-fit:cover;
	
}
.review-img {
	aspect-ratio: 13/9; /*이미지 사이즈 맞춤  */
}

#review_warp ol,ul {
    list-style: none;
}

#review_warp {
    color: var(--color2);/*리뷰글씨색*/                                        
}


/* title Box */
/* 제목
-------------------------------------- */

body { 
    width:100%;
    max-width:1600px; 
	margin:auto;
}

.review-top {
	margin-top: 120px;     
    margin-left: 7rem;
    margin-right: 7rem;
    
}

.subTitle {
    color: var(--color5);
    font-size: 25px;
}
.toptitle {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    color:black;
}
.underTitle {
    color:#606060;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 7px;
}

/* 카테고리
-------------------------------------- */
.review_board_top {
    
    padding-bottom: 10px;    
 	float: left;
 	
    margin-left: 7rem;
    margin-right: 7rem;
    max-width: 1200px; 
    padding-bottom:0;
   
}


.select_categ {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: xx-large;
    padding-bottom: 15px;
}

#review_warp {
    margin: 0;
    padding: 0;  
    outline: none;
    border: none;
    
}
.review-top {
    padding-bottom: 10px;
    text-align: center;/*우선적용  */
}




/* 리뷰박스------------------------------------------------------- */
.reviewBox {
    margin-top: 111px;   
    margin-bottom: 100px;
    margin-left: 7rem;
    margin-right: 7rem;
   
    
}

.review_container {
	margin:2rem auto;
	max-width: calc(100%-80px);
}

/* IMAGE LIST
–––––––––––––––––––––––––––––––––––––––––––––––––– */



.image-list {
    margin-bottom: 3rem;  									
}

.image-list li {
    background:var(--color7); /*리뷰배경색*/
    color: var(--color2); /*리뷰글씨색*/
}


/* grid-view
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-view {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(275px,1fr));
    
}

/* image-list
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-list {
    
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left:-40px;
}


/*  div {
    border:1px solid red;
}  */ 


#reviewmemId {
    font-size: small;
    font-weight: bold;
    text-align:top;
}



/*heartBox ------------------ */
.heartbox {
	height:30px;
}
/* heart button 하트하트*/
.heartBtn {
	cursor:pointer;
	border-style:none;
	background:var(--color3);
}
.heartbtnImg {
    width:23px;
    height:23px;
    margin: 0 0.5rem;
    margin-top:5px;
    
}


.heartNo {
	margin-left:-7px;
    font-size: 15px;
    
}
 
/*new reviewBox  ---------------------*/

.review-img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

/* 리뷰상세박스-글  */
.review_underBox {
	border: 1px solid var(--color4);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;	
}

.comment {
	font-size:small;
	color:grey;
	margin: 0 0.5rem;
}
#reviewDate {
    font-size: small;
    color:#c0c0c0;
    margin: 0 0.5rem;
}
.review-title {
    margin: 0 0.5rem;
}

.title {
    margin-top: 10px;
    font-weight: bold;
    font-size: medium;

}
.comment {
	height:60px;
	overflow:auto;	
}
.comment::-webkit-scrollbar {
	width:5px;
	background-color:var(--color3);
}
.comment::-webkit-scrollbar-thumb {
	width:5px;
	background-color:var(--color8);
}

/* 버튼버튼 */
/* newPost button */
.newPost button {
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    font-size:20px;
    background: var(--color5);
    color:#ffffff;
    border-radius: 2px;
    border-style: none;
    height: 50px;
    width: 150px;
    margin-top:10px;
}
.newPost button:hover {
    opacity: 70%;
}


/* categ buttom */
.cateBtn {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size:medium;
    cursor: pointer;
    background: var(--color5);
    color:#ffffff;
    border-radius: 2px;
    border-style: none;
    height: 40px;
    width: 70px;
}
.cateBtn:hover {
    opacity: 70%;
}

/*삭제 버튼  */
#delete {
	font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size:13px;
    cursor: pointer;
    background: var(--color3);
    color:var(--color5);
    border-radius: 2px;   
    height: 27px;
    width: 40px;
    border: 1px solid var(--color5);
    float:right;
    margin-top:5px;
    margin-right:10px;
}
#update {
	font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size:13px;
    cursor: pointer;
    background: var(--color3);
    color:var(--color5);
    border-radius: 2px;   
    height: 27px;
    width: 40px;
    border: 1px solid var(--color5);
    float:right;
    margin-top:5px;
    margin-right:5px;
}
#delete:hover,#update:hover {
	border-style: none;
	background: var(--color5);
	font-size:15px;
    color:#ffffff;
}

