@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --color1: #e5e2d3; /*nav,footer 글씨색1*/
    --color2: #50655e; /*글씨색2*/
    --color3: white; /*전체배경3*/
    --color4: #e6e5e1; /*배경4*/ 
    --color5: #627b82; /*nav,footer배경5*/
    --color6: white; /*배경6*/
    --color7: #ffffff; /*배경4*/
    --color8: #ccd4c7;                   
}

/* body중복이시면 빼셔도 됩니다. */
body { 
    width:100%;
    max-width:1600px; 
	margin:auto;
}

#wrap{
	margin-top: 70px;
}
.sec1{
	display: flex;
	float: left;
	margin-left: 10%;
	margin-top: 100px;
	margin-right: 50px;
}
.sec1 li{
margin: 20px 0px;
list-style: none;
}
#infoedit:hover{
cursor:pointer;
font-weight: bold;	
}
#myreiew{
cursor:pointer;
font-weight: bold;
}

#selectreg:hover{
cursor:pointer;
font-weight: bold;	
}
 .sec2{
	display: inline-block;
	margin-top: 30px;
	width: 600px;
}

.sec2 ol{
	width: 1000px;
} 
#review_warp {
    margin: 0;
    padding: 0;  
    outline: none;
    border: none;
}
 
#review_warp img {
    display: block;  
    max-width: 100%;
    height: auto;
	object-fit:cover;
	
}
.review-img {
	aspect-ratio: 13/9; /*이미지 사이즈 맞춤  */
}

#review_warp ol,ul {
    list-style: none;
}

#review_warp {
    color: var(--color2);/*리뷰글씨색*/                                        
}



#review_warp {
    margin: 0;
    padding: 0;  
    outline: none;
    border: none;
    
}


/* 리뷰박스------------------------------------------------------- */
.reviewBox {
    margin-top: 8vh;   
    margin-bottom: 100px;
    margin-left: 7rem;
    margin-right: 7rem;
   
    
}

.review_container {
	margin:2rem auto;
	max-width: calc(100%-80px);
}

/* IMAGE LIST
–––––––––––––––––––––––––––––––––––––––––––––––––– */



.image-list {
    margin-bottom: 3rem;  									
}

.image-list li {
    background:var(--color7); /*리뷰배경색*/
    color: var(--color2); /*리뷰글씨색*/
}


/* grid-view
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-view {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(275px,1fr));
    
}

/* image-list
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-list {
    
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left:-40px;
}


/*  div {
    border:1px solid red;
}  */ 


#reviewmemId {
    font-size: small;
    font-weight: bold;
    text-align:top;
}


/*heartBox ------------------ */
/* heart button 하트하트*/
.heartBtn {
	cursor:pointer;
	border-style:none;
	background:var(--color3);
}
.heartbtnImg {
    width:25px;
    height:25px;
    margin: 0 0.5rem;
}
.heartBtn {
	background
}

.heartNo {
	margin-left:-7px;
    font-size: 15px;
}
 
/*new reviewBox  ---------------------*/

.review-img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

/* 리뷰상세박스-글  */
.review_underBox {
	border: 1px solid var(--color4);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;	
}

.comment {
	font-size:small;
	color:grey;
	margin: 0 0.5rem;
}
#reviewDate {
    font-size: small;
    color:#c0c0c0;
    margin: 0 0.5rem;
}
.review-title {
    margin: 0 0.5rem;
}

.reviewtitle {
    margin-top: 10px;
    font-weight: bold;
    font-size: medium;

}
.comment {
	height:60px;
	overflow:auto;	
}
.comment::-webkit-scrollbar {
	width:5px;
	background-color:var(--color3);
}
.comment::-webkit-scrollbar-thumb {
	width:5px;
	background-color:var(--color8);
}



