@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

#miniwrap {
	width:1600px;
	background-color:var(--color4);
	overflow: hidden;
}

body {
	width:1600px;
	margin:auto;
	padding-top:69px;
}

li {
	list-style:none;
}

table {
	border:1px solid black;
	width:320px;
	padding:0px;
	background-color:white;
	border-spacing: 0px;
	border-radius:10px;
}

.combkListImg {
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.tableText {
	padding:6px;
	border-bottom:1px dashed black;
}

.tableTextView {
	padding:6px;
}

th,td {
	line-height:20px;
}

/* 카테고리 박스 */
.activeCTG {
	color: var(--color4) !important;
	background: var(--color5) !important;
	border:1px solid var(--color4) !important;
}

#categoryBox {
	height:50px;
}

#categoryBox select {
	margin-left:20px;
	margin-top:30px;
	border-radius:5px;
	color: var(--color4);
	background: var(--color5);
	width:67px;
	height:35px;
	font-weight:bold;
	font-family: 'Noto Sans KR', sans-serif;
	border:1px solid var(--color4);
}

#categoryBox select:focus {
	outline:none;
}

/* 카테고리 버튼 */
.categoryBtn {
	float:left;
	margin-left:67px;
	margin-top:30px;
}

.cateBtn {
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--color5);
    font-weight:bold;
    font-size:15px;
    width:110px;
    height:35px;
    cursor: pointer;
    background: var(--color4);
    border-radius: 3px;
    border-style: none;
    border:1px solid var(--color5);
}

.cateBtn:hover {
	color: var(--color4);
	background: var(--color5);
	border:1px solid var(--color4);
}

#sortForm {
	width:200px;
	display:inline-block;
}

/* 등록 버튼 */
#registerBtn {
	float:right;
	margin-top:27px;
	margin-right:77px;
	color: var(--color4);
	background: var(--color5);
	border-radius:3px;
	font-size:17px;
	font-weight:bold;
	width:100px;
    height:35px;
    border-style: none;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    border:1px solid var(--color5);
}

#registerBtn:hover {
	color: var(--color5);
	background: var(--color4);
	border:1px solid var(--color5);
}

/* 검색 박스 */
#searchForm {
	width:1600px;
	height:25px;
	padding-top:40px;
	margin-left:67px;
}

#searchtype {
	height:30px;
	padding-top:4px;
	border-radius:3px;
}

#searchtype:focus {
	outline:none;
}

#searchText {
	width:300px;
	height:24px;
	padding-top:4px;
	margin-left:2px;
	border-radius:3px;
	border:0.1px solid grey;
}

#searchText:focus {
	outline:0.1px solid black;
}

#searchBtn {
	height:31px;
	color: var(--color4);
	background: var(--color5);
	border:1px solid var(--color5);
	border-radius:5px;
	font-size:16px;
	font-weight:bold;
	margin-left:3px;
}

#searchBtn:hover {
	color: var(--color5);
	background: var(--color4);
	border:1px solid var(--color5);
}

/* 리스트 박스 */
#itemListBox ul {
	float:center;
	align-items: center;
}

#itemListBox ul li {
	float:left;
	margin:27px;
}

#itemListBox ul li a {
	text-decoration:none;
	color:black;
	font-size:16px;
}

/* 페이징 */
.page {
	width:1600px;
	background-color:var(--color4);
	text-align:center;
	padding-top:10px;
	padding-bottom:35px;
}

.pageBTN {
	background-color:var(--color5);
	border:1px solid var(--color4);
	border-radius:3px;
	color:var(--color4);
	width:70px;
	height:32px;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	margin:5px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-bottom:2.5px;
}

.pageBTN:hover {
	background-color:var(--color4);
	color:var(--color5);
	border:1px solid var(--color5);
}


/************** SlideShow 시작 **************/

#slideShow {	
	width:1600px; 
	position: relative;
	height: 360px;
	text-align:center;
}

/* 양 옆 화살표 버튼 */
#prevNextButtonBox {
	position: relative;
	z-index: 10;
}

#prevButton {
	position: absolute;
	top: 130px;
	left: 4%;
	opacity: 0.2;
	cursor: pointer;
}

#nextButton {
	position: absolute;
	top: 130px;
	right: 4%;
	opacity: 0.2;
	cursor: pointer;
}

#prevButton:hover {
	opacity: 0.5;
}

#nextButton:hover {
	opacity: 0.5;
}

/* 슬라이드 텍스트 */
#slideText {
	position: absolute;
	color:white;
	z-index: 10;
	opacity:0.8;
	top:145px;
	margin-left:710px;
	font-size:25px;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

/* 이미지 슬라이드 쇼 */
#slideShowBox {
	width:1600px;
	height: 360px;
	background-color: white;
	overflow: hidden; /* 영역 벗어나면 숨김 */
}

#slidePanel {
	position: relative;
	width: 4800px;
	height: 360px;
}

.slideImage {
	float: left;
	width: 1600px;
	height: 360px;
}
/************** SlideShow 끝 **************/


