<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.Me_and_U.project.dao.IBKListDAO">
  
  	<!-- 나의 버킷리스트 구간 시작  -->
  	
  	<!-- 나의 버킷리스트 등록 -->
  	<insert id="insertmybkList" parameterType="hashmap">
  		INSERT INTO mybklist(memId, mybkListWrite, mybkListFinished)
  		VALUES(#{memId}, #{mybkListWrite}, 0)
  	</insert>
  	
    <resultMap id="mybklistResult" type="com.Me_and_U.project.model.MyBKListVO" >
        <result property="mybkListNo" column="mybkListNo"  />
        <result property="mybkListWrite" column="mybkListWrite"  />
        <result property="memId" column="memId"  />
        <result property="mybkListFinished" column="mybkListFinished"  />
    </resultMap>
    
  	
  	<!-- 나의 버킷리스트 목록 -->
  	<select id="myBKListView" resultMap="mybklistResult">
  		SELECT *
  		FROM mybklist 
  		WHERE memId = #{memId}
  		ORDER BY mybkListNo ASC
  	</select>
  	
  	<!-- 나의 버킷리스트 삭제 -->
  	<delete id="deletemyBKList" parameterType="int"> 
		DELETE FROM mybklist WHERE mybkListNo = #{mybkListNo} 
	</delete>
	
	<!-- 나의 버킷리스트 완료 여부 검사 -->
	<select id="checkMyBKLFinished" parameterType="hashmap" resultType="int">
 		SELECT mybkListFinished
 		FROM mybklist
 		WHERE mybkListNo=#{mybkListNo} AND memId=#{memId}
 	</select>
 	
 	<!-- 나의 버킷리스트 완료 여부 자동 수정 -->
 	<update id="updateMyBKLFinished" parameterType="hashmap">
 		UPDATE mybklist
 		SET mybkListFinished = CASE mybkListFinished 
 		WHEN 0 THEN 1
 		WHEN 1 THEN 0
 		END
 		WHERE mybkListNo = #{mybkListNo} AND memId = #{memId}
 	</update>
 	
 	<!-- (나의 버킷리스트) 모두의 버킷리스트 목록 출력 -->
  	<select id="mycomBKListView" parameterType="string" resultType="com.Me_and_U.project.model.MyComBKListVO">
  		SELECT m.mycombkListNo, c.combkListSubtitle, c.combkListNo, m.memId, m.mycombkListFinished
  		FROM combklist c, mycombklist m
  		WHERE c.combkListNo = m.combkListNo AND m.memId = #{memId}
  		ORDER BY m.mycombkListNo
  	</select>
  	
  	<!-- (나의 버킷리스트) 모두의 버킷리스트 중복 체크 -->
 	<select id="checkCombklistInMybkl" parameterType="hashmap" resultType="int">
 		SELECT COUNT(*)
 		FROM mycombklist
 		WHERE combkListNo = #{combkListNo} AND memId = #{memId}
 	</select>
 	
 	<!-- (나의 버킷리스트) 모두의 버킷리스트에서 목록 가져오기 -->
 	<insert id="insertMyComBKList" parameterType="com.Me_and_U.project.model.MyComBKListVO">
 		INSERT INTO mycombklist(memId, combkListNo, mycombkListFinished)
 		VALUES(#{memId}, #{combkListNo}, 0)
 	</insert>
 	
 	<!-- (나의 버킷리스트) 모두의 버킷리스트 삭제 -->
  	<delete id="deletemycomBKList" parameterType="int"> 
		DELETE FROM mycombklist WHERE mycombkListNo = #{mycombkListNo} 
	</delete>
	
	<!-- (나의 버킷리스트) 모두의 버킷리스트 완료 여부 검사 -->
	<select id="checkMyComBKLFinished" parameterType="hashmap" resultType="int">
 		SELECT mycombkListFinished
 		FROM mycombklist
 		WHERE mycombkListNo=#{mycombkListNo} AND memId=#{memId}
 	</select>
 	
 	<!-- 나의 버킷리스트 완료 여부 자동 수정 -->
 	<update id="updateMyComBKLFinished" parameterType="hashmap">
 		UPDATE mycombklist
 		SET mycombkListFinished = CASE mycombkListFinished 
 		WHEN 0 THEN 1
 		WHEN 1 THEN 0
 		END
 		WHERE mycombkListNo = #{mycombkListNo} AND memId = #{memId}
 	</update>
 	
 	<!-- 나의 버킷리스트 구간 끝  -->
 	 
 	 
 	<!-- 모두의 버킷리스트 구간 시작  -->
 	
 	<resultMap id="combklistResult" type="com.Me_and_U.project.model.ComBKListVO">
 		<result property="combkListNo" column="combkListNo"/>
 		<result property="combkListTitle" column="combkListTitle"/>
 		<result property="combkListSubtitle" column="combkListSubtitle"/>
 		<result property="combkListWrite" column="combkListWrite"/>
 		<result property="combkListImg" column="combkListImg"/>
 		<result property="combkListDate" column="combkListDate"/>
 		<result property="combkListFinished" column="combkListFinished"/>
 		<result property="combkListCtg" column="combkListCtg"/>
 		<result property="memId" column="memId"/>
 		<result property="ctgNo" column="ctgNo"/>
 	</resultMap>
 	
 	<!-- 모두의 버킷리스트 등록 -->
 	<insert id="comBKListInsert" parameterType="com.Me_and_U.project.model.ComBKListVO">
  		INSERT INTO combklist (memId,combkListNo,combkListTitle,combkListSubtitle,combkListWrite,combkListImg, combkListCtg) 		
		 VALUES ( #{memId},#{combkListNo}, #{combkListTitle},#{combkListSubtitle},#{combkListWrite}, #{combkListImg},#{combkListCtg})	
  	</insert>
  		
  	<!-- 모두의 버킷리스트 목록 -->
  	<select id="comBKListView" resultMap="combklistResult">
  		SELECT *
  		FROM combklist 
  		ORDER BY combkListNo ASC
  	</select>
  	
  	<!-- 모두의 버킷리스트 상세 페이지 -->
  	<select id="detailViewComBKList" parameterType="int" resultType="com.Me_and_U.project.model.ComBKListVO">
  		SELECT *
  		FROM combklist
  		WHERE combkListNo = #{combkListNo}
  	</select>
  		
  	<!-- 모두의 버킷리스트 삭제 -->
  	<delete id="deletecomBKList" parameterType="int">
  		DELETE FROM mycombklist WHERE combkListNo = #{combkListNo};
  		DELETE FROM combklist WHERE combkListNo = #{combkListNo};
  	</delete>
  	
  	<!-- 모두의 버킷리스트 구간 끝  -->
  	
  </mapper>