html {
	height:auto;
	min-height:100%;
}

/* 바디 */
body {
  font-family: sans-serif;
  background: #d8eded;
  width:1600px;
  margin:0 auto;
}

/* 로그인 박스 */
.login-box {
  position: absolute;;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.2);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

/* "Login" 문구 */
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

/* Me & U" 문구 */
.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

/* id, pw 입력 박스 */
.login-box .user-box {
  position: relative;
}

/* id, pw 입력 텍스트 */
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/* id, pw 라벨 */
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

/* id, pw 텍스트 포커스 */
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

/* Login 버튼 */
.login-box form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

/* Login 버튼 호버옵션 */
.login-box button:hover {
	background: #43A047;
}

/* id, pw 찾기, 회원가입 */
.login-box .inMemberJoin {
	width: 320px;
	display: inline-blick;
	margin: -10px auto 15px;
	text-align: center;
	text-decoration: none;
	color:#fff;
}

/* id, pw 찾기, 회원가입 a테그 */
.login-box .inMemberJoin a {
	text-decoration: none;
	color:#fff;
}









