@charset "UTF-8";

/* 주소 검색 버튼 */
#addressSrchBtn {
	width:auto;
	height:auto;
	padding:6px;
	font-size:15px;
	margin-left:2px;
	background:white;
	border-radius:8px;
	border-color:white;
}

/* 약관"동의" */
.agree {
	width:35px;
	padding-right:55px;
	font-size:17px;
	font-weight:bold;
}

/* 바디 */
body {
	width:1600px;
	margin:0 auto;
	font-size: small;
}

/* 달력 이미지 */
#calenderImg {
	width:32px;
	height:33px;
	margin-left:2px;
	margin-bottom:-11px;
}

/* "이용약관" 라디오 버튼 */
.consentRadioTable {
	width:17px;
}

/* "이용약관" 테이블 */
#consentTable {
	width:500px;
	margin:13px auto 0px;
	border-collapse: collapse;
	border-radius: 1em;
}

/* "이용약관" 테이블 행 */
#consentTable tr {

}

/* "이용약관" 테이블 헤더 */
#consentTable tr th {
	width:232px;
	text-align:left;
	font-size:19px;
	padding:5px 0px 5px 0px;
}

/* "이용약관" 테이블 데이터 */
#consentTable tr td {
	
}

/* "이용약관" 비동의 */
.disagree {
	width:50px;
	font-size:17px;
	font-weight:bold;
}

/* 이메일 도메인 텍스트 */
#domainText {
	width:auto;
}

/* 이메일 도메인 셀렉트 */
#domainList{
	width:132px;
	
}

/* 성별 */
.gender {
	font-size:18px;
}

/* 휴대전화 번호 하이픈(-) & 이메일(@) */
.hyphen {
	font-size:18px;
	font-weight:bold;
}

/* "회원가입" 문구 */
#memJoinTitle {
	font-size:33px;
	text-align:center;
	}

/* 회원가입 전체 영역 */
#memJoinDiv {
	background:#d8eded;
	margin:0 auto;
	width:860px;
	font-family: 'Oswald', sans-serif;
	border-radius : 15px;
	padding:16px 0px;
}


/* 회원가입 메일 입력 텍스트 */
#insertEmail {
	width:122px;
}

/* 회원정보입력받는 모든 텍스트 */
.insertMemInfo {
	height:30px;
	font-size:17px;
	border-radius:8px;
	border-color:white;
}

/* "관심정보" 문구 */
#interestInfo {
	font-size:25px;
	font-weight:bold;
	padding-top:54px;
}

/* 아이디 중복 확인 버튼 */
#idCheckBtn {
	font-size:16px;
	height:50px;
	border-radius:8px;
	padding:10px;
	font-family: 'Oswald', sans-serif;
	height:52px;
	cursor:pointer;
	background-color:white;
	font-weight:bold;
	vertical-align:middle;
	margin-top:-5px;
	border-color:white;
}

/* ID입력 텍스트 */
#insertMemID {
	width:407px;
	padding:10px 0px 10px 15px;
}

/* PW입력 텍스트 */
#insertMemPW {
	width:500px;
	padding:10px 0px 10px 15px;
}

/* PW재입력 텍스트 */
#insertMemPWCheck {
	width:500px;
	padding:10px 0px 10px 15px;
}

/* 회원 이름 텍스트 */
#insertMemName {
	width:500px;
	padding:10px 0px 10px 15px;
}

/* 회원정보입력 텍스트 테이블 */
.insertTxtTD {
	padding-bottom:23px;
	padding-top:4px;
}

/* 가입하기 버튼 */
#joinBtn {
	width:490px;
	height:49px;
	font-size:23px;
	border-radius:8px;
	padding:10px;
	font-family: 'Oswald', sans-serif;
	cursor:pointer;
	margin:13px 0px 10px 3px;
	background:none;
	transition: 0.25s;
	color:#19bc8b
	
}

/* 가입하기 버튼 호버 */
#joinBtn:hover{
	box-shadow:inset 0 0 0 2em #19bc8b;
	color:#fff
}

/* 회원가입 테이블 */
#joinMemberTable {
	width:500px;
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	
}

/* 회원가입 테이블 헤더 */
#joinMemberTable tr th {
	text-align:left;
	font-size:21px;
}

/* 회원가입 테이블 행 */
#joinMemberTable tr {
	height:41px;
}

/* 우편번호 검색 텍스트 */
#sample6_postcode {
	width:100px;
	font-size:14px;
}

/* 우편번호 도로명 주소 텍스트 */
#sample6_address {
	width:500px;
}

/* 라디오 버튼 커스텀 */
[type="radio"] {
	appearance: none;
	border: max(2px, 0.1em) solid gray;
	border-radius: 50%;
	width: 1.25em;
	height: 1.25em;
	transition:border 0.2s ease-in-out;
}

/* 라디오 버튼 체크 커스텀*/
[type="radio"]:checked {
	border: 0.4em solid #292727;
}

/* 라디오 버튼 포커스 */
[type="radio"]:focus-visible {
	outline-offset:max(2px, 0.1em);
	outline:max(2px, 0.1em) dotted #000;
}

/* 라디오 버튼 호버 */
[type="radio"]:hover {
	box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
	cursor:pointer;
}







