@charset "UTF-8";

body{
	width:1600px;
	margin:auto;
 	padding-top:69px;
	
}
#firstbox{
	margin-left:23%;
	margin-right:200px;
	display: flex;
	margin-top:10px;
}
#secondbox{
	margin-left:23%;
	margin-right:200px;
	display: flex;
	
}
#firstdiv{
	/*border: 1px solid blue;*/
    float: left;
    width:300px;
    margin-right: 10px;
}

#GatherImg{
	width: 300px;
	height: 300px;
}
#memImg{
	width: 30px;
	height: 30px;
}
#seconddiv{
    float: left;
    width:400px;
    height: 333px;
    text-align: left;
     margin-right: 10px;
}
table {
	border-spacing: 10px 23px;
	width: 400px;
	height: 333px;
}
table td{
	border: 1px solid gray;
	border-radius:4px;
	width: 300px;
	height: 35px;
	
}
#thirddiv{
    float: left;
    width:300px;
    margin-right: 20px;
} 
#thirddiv #memImg2{
    float: left;
    width:80px;
    height: 100px;
    margin-top: 30px;
    border: 1px solid black;
}
#thirddiv #memtext{
    float: left;
    width:200px;
    height: 100px;
    margin-top: 30px;
}

#detailDiscript{
	width: 900px;
	height: 400px;
	border: 1px solid black;
}
#secondbox input{
	font-size: 16px;
	color: rgb(255, 255, 255); 
	text-align: center; 
	line-height: 2.5em; 
	border-radius:4px;
	background-color: rgb(94, 94, 94);
	float: right;
	width: 100px;
	margin-left: 10px;
}
.btn {
	cursor : pointer;
}

