@charset "UTF-8";
:root {
    --color1: #e5e2d3; /*nav,footer 글씨색1*/
    --color2: #50655e; /*글씨색2*/
    --color3: white; /*전체배경3*/
    --color4: #e6e5e1; /*배경4*/ 
    --color5: #627b82; /*nav,footer배경5*/
    --color6: white; /*배경6*/
    --color7: #ffffff; /*배경4*/                 
}

/* navbar
------------------------- */
body{
    font: sans-serif;/*글씨폰트*/
    background-color:var(--color3);/*전체배경색*/
    font-size: small;
}
.navbar a{
    text-decoration: none;
    color: var(--color1);/*nav메뉴글씨*/
}

.navbar {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background-color:var(--color5);/*상단배경색*/
}
.nav_logo {
    font-size: medium;
    font-weight: bold;
}
.nav_logo a {              
    color: var(--color4);/*로고글씨색*/
}

.nav_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav_menu li {
    padding: 8px 12px;
    color: var(--color1);/*nav메뉴글씨*/
}
.nav_menu li:hover {   
    opacity: 50%;
}
.nav_login {
    list-style: none;
    display: flex;
    font-weight: bold;
    padding-left: 0;
}
.nav_login li {
    padding: 8px 12px;
}
.nav_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--color4);
}


@media screen and (max-width:980px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .nav_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .nav_menu li {
        width: 100%;
        text-align: center;
    }
    .nav_login {
        justify-content: center;
        width: 100%;
    }
}

/* footer
------------------------------------- */
.footer {
    display: flex;
    list-style: none;
    background-color: var(--color5);/*footer 배경색*/
}

.footer a {
    text-decoration: none;
    color: var(--color1);/*footer 메뉴글씨*/
}
.footer li {
    padding: 8px 12px;
}
.footer li:hover {
    padding: 8px 12px;
    opacity: 50%;
}
/* 
-------------------------------------- */


