@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

:root {
    --color1: #e5e2d3; /*nav,footer 글씨색1*/
    --color2: #50655e; /*글씨색2*/
    --color3: white; /*전체배경3*/
    --color4: #e6e5e1; /*배경4*/ 
    --color5: #627b82; /*nav,footer배경5*/
    --color6: white; /*배경6*/
    --color7: #ffffff; /*배경4*/             
    --color8: #ccd4c7;      
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:bold;
}

/* navbar
------------------------- */

.navbar a{
    text-decoration: none;
    color: var(--color1);/*nav메뉴글씨*/
}

.navbar {
	width:1600px;
    display: flex;
    position:fixed;
    z-index:50;
    margin:auto;
    top:0px;
    height:69px;
    justify-content:space-between ;
    align-items: center;
    background-color:var(--color5);/*상단배경색*/
}
.nav_logo {
    margin:8px 0px 5px 10px;
}
.nav_logo a {              
    color: var(--color4);/*로고글씨색*/
}

.nav_menu {
    display: flex;
    list-style: none;
    padding-left: 3vw;
}
.nav_menu li {
    padding: 8px 12px;
    color: var(--color1);/*nav메뉴글씨*/
}
.nav_menu li:hover {   
    opacity: 50%;
}
.nav_login {
    list-style: none;
    display: flex;
    font-weight: bold;
    padding-left: 0;
}
.nav_login li {
    padding: 8px 12px;
}

.navbar span {
	color: var(--color1) !important;
	text-shadow:none !important;
}

.shadow {
	box-shadow: 0 4px 4px -4px black;
}

/* footer
------------------------------------- */
.footer {
	width:1600px;
    display: flex;
    background-color: var(--color5);/*footer 배경색*/
}

.footer a {
    text-decoration: none;
    color: var(--color1);/*footer 메뉴글씨*/
}

.footer ul {
	width:740px;
	float:center;
	list-style: none;
	margin-left:300px;
}

.footer li {
    padding: 8px 12px;
    float:center;
	display:inline-block;
}
.footer li:hover {
    opacity: 50%;
}

#btmLogo {
	float:left;
	margin:13px 0px 0px 10px;
}

#moveToTop {
	margin:8px 15px 0px 380px;
	cursor:pointer;
}
/* 
-------------------------------------- */


