@charset "UTF-8";
:root {
    --color1: #e5e2d3; /*nav,footer 글씨색1*/
    --color2: #50655e; /*글씨색2*/
    --color3: white; /*전체배경3*/
    --color4: #e6e5e1; /*배경4*/ 
    --color5: #627b82; /*nav,footer배경5*/
    --color6: white; /*배경6*/
    --color7: #ffffff; /*배경4*/                 
}


#main {
    margin: 0;
    padding: 0;  
    outline: none;
    border: none;
}

#main button {
    cursor: pointer;
    background: none;
}

#main img {
    display: block;
    max-width: 100%;
    height: auto;
}

#main ol,ul {
    list-style: none;
}

#main a {
    color: inherit;
    text-decoration-line: none;
}

#main {
    margin: 50px 0;
    color: var(--color2);/*리뷰글씨색*/                                        
    font: 1rem/1.3 sans-serif;
}

.reviewBox {
    padding: 0 2rem;
}


/* searchBox
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.searchBox {
    padding: 0 2.4rem;
}
/* IMAGE LIST
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-list {
    margin-bottom: 3rem;
    
}

.image-list li {
    background:var(--color7); /*리뷰배경색*/
    color: var(--color2); /*리뷰글씨색*/
}

/* grid-view
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-view {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    
}

/* profile
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.reviewBox {
    background-color: var(--color4); /*리뷰전체배경색*/
    padding-top: 15px;
    padding-bottom: 10px;
}

.review-title {
    margin: 0 0.5rem;
}
.profile {
    margin: 0 0.5rem;    
}
.memInfobox {
    max-height: 4rem;
    
}
.review-title span {
    display: inline-block;
}
#heart {
    width: 12px;
    height: 12px;
    opacity: 40%;
}
#heartCnt {
    color: var(--color2); /*하트글씨색*/
}
#memImg {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    align-items: center;
    justify-content: center; /*위쪽하트*/
}

#heartbtn {
    width: 30px;
    height: 30px;  /*하단오른쪽하트*/
}

.memInfobox div {
    display: inline-block;
    margin-right: 1rem;
}
.title {
    margin-top: 10px;
    font-weight: bold;
    font-size: medium;
}
.heartbtn {
    float: right; 
    margin-top: 10px;
}
.heartCnt {
    float: right; 
    margin-top:10px;
    margin-right: -18px;
    font-size: small;
}

#reviewmemId {
    font-size: small;
    font-weight: bold;
}

#reviewDate {
    font-size: small;

}
.memImg {
    margin-top:10px;
} 
.memInfo {
    margin-top: -20px;
    margin-left: -10px;
    margin-bottom: 5px;    
} 

.memInfo p {
    margin: -1px;
    margin-bottom: 5px;
}
/* div {
    border:1px solid red;
}   */