@charset "UTF-8";
html {
	height: 100%;
}

body {
	height: 100%;
	width:1600px;
	margin:0 auto;
	font-family: 'Jeju Myeongjo', serif;
}

#header {
	position:relative;
}

#logoImgBox {
	text-align: center;
	padding: 235px 0 20px;
}

.find_inner .title_wrap {
	padding-bottom:40px;
	width: 500px;
	margin: 0 auto;
	text-align:center;
}

.find_inner .title_wrap .title {
	font-size: 18px;
	line-height:30px;
	margin: 0;
	padding: 0;
}

#title_wrap {
	text-align:center;
}

#wrap {
	height: 100%;
	margin: 0 0 -72px;
}

#idInputText {
	position: relative;
}

/* "다음" 버튼 */
.next_btn {
	width: 100%;
	margin-top:15px;
	padding: 15px 0 16px;
	background-color: #b1bdc1;
	border-radius: 6px;
	cursor:pointer;
}

.next_btn:hover {
	background-color: var(--color5);
}

#content .find_inner {
	width: 500px;
	margin: 0 auto;
	padding: 0 20px;
}

.input_memId {
	position:realative;
	width: 100%;
	border-radius: 6px;
	font-size:16px;
	line-height:22px;
	box-sizing: border-box;
	color: #303038;
	padding: 16px 17px 14px 50px;
}

#idInputRow {
	position: relative;
	border-radius: 6px;
	text-align: left;
	box-sizing: border-box;
}

/* 아이콘 */
.user_icon {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 30px;
	height: 30px;
}

/* "다음" 텍스트 */
#nextText {
	font-size:17px;
	font-weight:700;
	color:#fff;
}



