@charset "UTF-8";

html {
	height: 100%;
}

/*  바디옵션 */
body {
	height: 100%;
	margin: 0 auto;
	width: 1600px;
}

/*  전체 페이지 */
.wrap {
	height: 100%;
	margin: 0 0 -72px;
}

/*  컨테이너 */
.container {
	height: 100%;
	position: relative;
}

/*  비밀번호 찾기 전체 박스 */
.content {
	
}

/*  상단 찾기 전체 영역 */
.unl {
	list-style:none;
	height:57px;
	margin:0 auto;
	padding-top:135px;
	width:600px;
}

/* 상단 찾기 세부 영역 */
.unl li {
	float: left;
	margin: 0 60px 0 27px;
	font-size: 26px;
	width: 207px;
	height: 52px;
}

/* 상단 찾기 글씨 옵션 */
.unl span {
	font-size: 23px;
	font-weight: bold;
}

/*  상단 찾기 버튼 */
.unl button {
	font-size:22px;
	width: 195px;
	height: 52px;
	border-radius: 18px;
	border: 3em white;
	background-color: var(--color4);
/* 	box-shadow: -1px 2px 5px 2px #848484; */
}

/*  인증 방법 분류 박스 */
.radioSelectBox {
	margin: 0 auto;
}	

/*  이메일 인증 박스 */
.radioEmailBox {
	position: absolute;
	border: 1px solid #e5e5e5;
	width: 606px;
	height: 356px;
	left: 27%;
	top: 34%;
	border-radius:15px;
	padding: 44px 62px 20px 62px;
}

/*  "비밀번호 찾기" 문구 */
#headH2 {
	position: absolute;
	top: 22%;
	left: 27%;
	width: 717px;
	margin: 0 0 21px 0;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 7px;
}

/*  한 줄 속성 */
.lineWrap {
	margin: 20px 0 10px;
	font-size: 22px;
}

/* 이름 입력 텍스트 */
.inputTextName {
	margin: 0 0 0 88px;
	width: 274px;
	height: 13px;
	font-size: 21px;
	border-radius: 15px;
	border: 1px solid #848484;
	padding:10px 0px 10px 15px;
}

/* 이메일 입력 텍스트 */
.inputTextEmail {
	border-radius:15px;
	margin: 0 0 0 0px;
	height: 13px;
	font-size: 17px;
	width: 111px;
	border: 1px solid #848484;
	padding:10px 0px 10px 15px;
}

/* 이메일 선택 */
#domainList {
	height:33px;
	font-size:17px;
	border-radius:5px;
}
/* "이메일로 인증" 라인 */
#radioEmailWrap {
	font-size: 18px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	height:40px;
}

/* 회원 이메일 */
#insertEmail {
	margin-left: 21px;
}

/* 인증번호 입력 텍스트 */
#mailCheckInput {
	width: 274px;
	margin-left: 135px;
	height: 12px;
	border-radius: 15px;
	padding:10px 0px 10px 15px;
	vertical-align: middle;
}

/* 인증번호 받기 버튼 */
#mailCheckBtn {
	border-radius:15px;
	height: 34px;
	border: 1px solid #848484;
	width: 116px;
}

/* 인증번호 일치여부 확인 */
#mailCheckWarn {
	margin-left: 135px;
	font-size:17px;
}

/* 다음 버튼 */
.nextBtn {
	width: 160px;
	height: 47px;
	background-color: var(--color4);
	border-radius:9px;
	border: 1px solid #A4A4A4;
	box-shadow: -1px 2px 7px 1px #848484;
}

/* 다음 버튼 영역 */
.nextBtnWrap {
	position: absolute;
	left: 40%;
	margin-top: 20px;
}

/* 다음 버튼 텍스트 */
#nextBtnText{
	font-size: 22px;
	font-weight: bold;
}














