@charset "UTF-8";

body{
	width:1600px;
	margin: auto;
}

body::-webkit-scrollbar {
  display: none;
}
#wrap{
	margin-top: 69px;
	background-color: white;
}
.sec1{
	display: flex;
	float: left;
	margin-left: 5%;
	margin-top: 100px;
	margin-right: 5%;
	font-weight: 400;
	
}
.sec1 li{
font-size: 19px;
margin: 20px 0px;
list-style: none;
}
.artnamec{
	padding:10px;
	height: 30px;
}
.imgdiv{
	float: right;;
}
#artname{
	display: inline;
	border: 10px;
	
}

#myp{
	cursor:pointer;
font-weight: bold;
border-bottom: 3px solid;
}
#infoedit:hover{
cursor:pointer;
font-weight: bold;
}
#myreiew:hover{
cursor:pointer;
font-weight: bold;	
}

#selectreg:hover{
cursor:pointer;
font-weight: bold;	
}
.sec2{
	display:inline-block;
	width:1288.8px;
	background-color: var(--color4);
	border-left: 1px solid;
	margin-bottom: -5px;
}

.sebox{
	width: 900px;
	float: left;
}
.thbox{
	float: right;
    padding-top: 50px;
    padding-right: 30px;
}
table {
	border:1px solid;
	 border-spacing: 10px;
}
#combkImg{
	width: 200px;
	height: 100px;
	display: flex;
}
#BtnImg{
	width: 60px;
	height: 60px;
	text-align: center;
}
.sec2 .art1, .art2, .art3, .art4{
	margin-left:320px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	
	border-top: 1px solid rgba(128, 128, 128, 0.483);
}
.sec2 h4{
	margin-left:10px;
	margin-right: 10px;
}
.sec2 .art1{
	margin-top: 30px;
}
.sec2 .art1 img{
	width: 60px;
	height: 60px;
	text-align: center;
}
.contentText {
	padding:10px;
	line-height:40px;
    font-weight: 400;
}
.contentText2 {
    line-height:80px;
}
.sec2 .art2 img{
	width: 60px;
	height: 60px;
	text-align: center;
}
.sec2 .art1 #content{
	display: flex;
	width: 515px;
	margin-left:10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.sec2 .art1 #click_button1{
	width:25px;
	height:25px;
	float: right;
}
.sec2 .art2 #content{
	display: flex;
	margin-left:10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.sec2 .art2 #click_button2{
	width:25px;
	height:25px;
	float: right;
}
.sec2 .art3 .artdiv{
	display: flex;
    height: 260px;
    overflow-x:auto;
    margin-left:10px;
    margin-top: 15px;
   
}
.sec2 .art3 .artdiv div{
	display: block;
	margin-right: 25px;
	font-weight: 400;
	
}
.sec2 .art3 .artdiv::-webkit-scrollbar {
    width: 10px;
  }
.sec2 .art3 .artdiv::-webkit-scrollbar-thumb {
    background-color: var(--color5);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
.sec2 .art3 .artdiv::-webkit-scrollbar-track {
    background-color: #ccd4c7;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }


.sec2 .art4 .artdiv{
	display: flex;
    height: 260px;
    overflow-x:auto;
    margin-left:10px;
    margin-top: 15px;
}
.sec2 .art4 .artdiv div{
	display: block;
	margin-right: 25px;
	font-weight: 400;
	
}
.sec2 .art4 .artdiv::-webkit-scrollbar {
    width: 10px;
  }
.sec2 .art4 .artdiv::-webkit-scrollbar-thumb {
    background-color: var(--color5);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
.sec2 .art4 .artdiv::-webkit-scrollbar-track {
    background-color: #ccd4c7;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
  
#regImg, #temImg{
	width: 160px;
	height: 160px;
}

