<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


	<mapper namespace="com.Me_and_U.project.dao.IMemberDAO">
	
		<!-- 회원등록-->
		<insert id="insertMember">
			INSERT INTO member(memId, memPw, memName, memEmail, memBirth, Gender, memHP, memZipcode,
							   memAddress1, memAddress2, memImg, memJoy1, memJoy2)
			VALUE(#{memId}, #{memPw}, #{memName}, #{memEmail}, #{memBirth}, #{Gender}, #{memHP}, #{memZipcode}, #{memAddress1}, #{memAddress2}, #{memImg},
				  #{memJoy1}, #{memJoy2})
		
		</insert>
	
	
		<!--  암호화한 후 로그인 확인-->
  	<select id="loginCheck" parameterType="string" resultType="string">
  		SELECT memPw FROM member WHERE memId=#{id}
  	</select>
	
	<select id="memJoinIdCheck" parameterType="string" resultType="string">
		SELECT memId FROM member WHERE memId=#{memId}
	</select>
	
	
	
	
	</mapper>







