<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.Me_and_U.project.dao.IReviewDAO">
		<resultMap id="reviewResult" type="com.Me_and_U.project.model.ReviewVO" >
	  		<result property="reviewNo"  column="reviewNo"  />
	  		<result property="reviewHart"  column="reviewHart"  />
	  		<result property="reviewImg"  column="reviewImg"  />
	  		<result property="reviewTitle"  column="reviewTitle"  />
	  		<result property="reviewWrite"  column="reviewWrite"  />
	  		<result property="reviewDate"  column="reviewDate"  />
	  		<result property="reviewCount"  column="reviewCount"  />
	  		<result property="reviewCtg"  column="reviewCtg"  />
	  		<result property="subctgNo"  column="subctgNo"  />
	  		<result property="ctgNo"  column="ctgNo"  />
	  		<result property="memId"  column="memId"  />
	  		<result property="memImg"  column="memImg"  />
	  	</resultMap>

		<!-- 리뷰게시판메인 -->
		<select id="listAllReview" resultMap="reviewResult">
		SELECT * 
		FROM review 
		ORDER BY reviewNo DESC
		</select>
		
		<!-- Main 페이지 -->
		<!-- 최신순 3개 출력 -->
		<select id="listRecentReview" resultMap="reviewResult">
		SELECT * 
		FROM review 
		ORDER BY reviewNo DESC LIMIT 0,4
		</select>	
		
		<!-- 마이 페이지 -->
		<!-- 내가 쓴 후기 -->
		<select id="reviewMypage" parameterType="String" resultMap="reviewResult">
		SELECT * 
		FROM review 
		where memId=#{memId}
		</select>			
		<!-- 등록 -->  
		<insert id="insertReview" parameterType="com.Me_and_U.project.model.ReviewVO">
  		INSERT INTO review (memId,reviewNo,reviewTitle,reviewWrite,reviewImg,reviewCtg ) 		
		 VALUES ( #{memId},#{reviewNo}, #{reviewTitle},#{reviewWrite},#{reviewImg},#{reviewCtg})	
  		</insert>		 
		<!-- 수정 -->  
		<update id="updateReview" parameterType="com.Me_and_U.project.model.ReviewVO" >
		 UPDATE review
		 SET reviewTitle=#{reviewTitle},reviewWrite=#{reviewWrite},reviewImg=#{reviewImg},reviewCtg=#{reviewCtg}   		
		 WHERE reviewNo=#{reviewNo}					
		</update>
		<!-- 삭제 -->  
	    <delete id="deleteReview" parameterType="int"  >
	  	DELETE 
	  	FROM review 
	  	WHERE reviewNo=#{reviewNo}
	    </delete> 	
		<!-- 상세 -->
		<select id="detailViewReview" parameterType="int" 
		  							resultType="com.Me_and_U.project.model.ReviewVO" >
		SELECT * 
		FROM review 
		WHERE reviewNo=#{reviewNo}
		</select>
		
		<!-- 검색 결과 보기  -->
  		<select id="reviewSearch" parameterType="hashmap"  resultMap="reviewResult">
  		SELECT *
  		FROM review 
  		WHERE
	  		<choose>
		  		<when test="type != null and type.equals('reviewTitle')">
		  			reviewTitle Like CONCAT('%', #{keyword}, '%') 
		  		</when>
		  		<when test="type != null and type.equals('reviewWrite')">
		  			reviewWrite Like CONCAT('%', #{keyword}, '%')
		  		</when>
	  		</choose> 		   		
  		</select>
  		
  		
  		
  		
  		
  		
  		<!-- <select id="reviewSearch" parameterType="string" resultMap="reviewResult">
  		SELECT *
  		FROM review 
  		WHERE
  		reviewTitle Like CONCAT('%', #{keyword}, '%') 
  		OR reviewWrite Like CONCAT('%', #{keyword}, '%')   		
  		</select> -->
  
  		
		
			
	</mapper>