@charset "UTF-8";
/* 제목
-------------------------------------- */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body { 
    width:100%;
    max-width:1600px; /* 상단nav 고정으로 반응형으로 다시 고침*/
	margin:auto;
}
.service {
    margin-top: 200px;    /* 상단nav 고정으로 main부분 마진줌 */
    margin-bottom: 100px;
    margin-left: 7rem;
    margin-right: 10rem;
    max-width: 1200px;
}
.subboardTitle {
    color: var(--color5);
    font-size: medium;
}
.boardTitle {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: xx-large;
    padding-top: 10px;
    padding-bottom: 20px;
}
.underboardTitle {
    color:grey;
    font-size: small;
    padding-bottom: 10px;
}


/* 카테고리
-------------------------------------- */
.service_board_top {
    padding-top: 20px;
    padding-bottom: 10px;    
    float: left;
} 
.service-midTitle {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: x-large;
    padding-bottom: 15px;
}

#service_warp {
    margin: 0;
    padding: 0;  
    outline: none;
    border: none;
    text-align: center;
}
#service-top {
    padding-bottom: 10px;
}

/* chatBotbutton */
.chatBot button {
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    background-color:var(--color8);
    color:#ffffff;
    border-radius: 2px;
    border-style: none;
    height: 30px;
    width: 150px;
}
.chatBot button:hover {
    opacity: 70%;
}
/* middlebuttom */
.serviceBtn button {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    cursor: pointer;
    background: var(--color8);
    color:#ffffff;
    border-radius: 2px;
    border-style: none;
}
.serviceBtn button:hover {
    opacity: 70%;
}
