@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --color1: #e5e2d3; /*nav,footer 글씨색1*/
    --color2: #50655e; /*글씨색2*/
    --color3: white; /*전체배경3*/
    --color4: #e6e5e1; /*배경4*/ 
    --color5: #627b82; /*nav,footer배경5*/
    --color6: white; /*배경6*/
    --color7: #ffffff; /*배경4*/ 
    --color8: #ccd4c7;   
}

/* ------------chatbot------- */
#wrap {
	margin:0 auto; 
	font-family: 'Noto Sans KR', sans-serif; 
} 

#chatHeader {
	padding: 3px 1px; 
	font-family: 'Dancing Script', cursive;
	font-weight: 400;
    font-size: x-large;
}
#btnClose {
	border: none; 
	background: none;
	float: right;
}
 
#chatBox {
	height: 500px; 
	width: 367px; 
	overflow-y:scroll; 
	padding:10px 15px; 
	background:var(--color8);
} 	

/*메세지입력  */

#message {
	width: 230px;
	height: 28px;
	border-radius: 30px;
    border-color: var(--color8);
}

#btnSubmit {
	float: right; 
	background:#eeeeee; 
	height: 28px; 
	padding-right:0;
}

#chatbot {
	margin-top:10px;
}

/* Enter버튼 */

#chatBot-submit {
	font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    background-color:var(--color8);
    color:#ffffff;
    border-radius: 2px;
    border-style: none;
    height: 30px;
    width: 45px;
}

#chatBot-submit:hover{
	opacity:70%;
}

#recordBtn {
	font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    background-color:var(--color8);
    color:#ffffff;
    border-radius: 2px;
    border-style: none;
    height: 30px;
    width: 45px;
}

#stopBtn {
	font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    background-color:var(--color8);
    color:#ffffff;
    border-radius: 2px;
    border-style: none;
    height: 30px;
    width: 45px;
} 


#recordBtn:hover , 
#stopBtn:hover {
	opacity:70%;
}
.msgBox  span {
	padding:3px 5px; 
	word-break:break-all; 
	display:block; 
	max-width:300px; 
	margin-bottom: 10px; 
	border-radius: 10px;
}
								 
.msgBox.send  span {
	background:#fef01b; 
	float:right; 
}

.msgBox #in {
	width:220px; 
	background:var(--color8);
}
.msgBox.receive  span {
	background:#ffffff; 
	float:left;
}


/* 
	word-break:단어 분리 결정 줄바꿈		
	normal: 한중일 문자는 글자기준,
	break-all:글자 기준 줄바꿈			
 */

