<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.Me_and_U.project.dao.IGatherDAO">
 	
 	<resultMap id="regGatherResult" type="com.Me_and_U.project.model.RegGatherVO">
 		<result property="regGatherNo" column="regGatherNo"/>
 		<result property="regGatherTitle" column="regGatherTitle"/>
 		<result property="regGatherDiscript" column="regGatherDiscript"/>
 		<result property="regGatherStartDate" column="regGatherStartDate"/>
 		<result property="regGatherEndDate" column="regGatherEndDate"/>
 		<result property="regGatherMaxNum" column="regGatherMaxNum"/>
 		<result property="regGatherNowNum" column="regGatherNowNum"/>
 		<result property="regGatherViewNum" column="regGatherViewNum"/>
 		<result property="regGatherImg" column="regGatherViewNum"/>
 		<result property="memId" column="memId"/>
 		<result property="ctgNo" column="ctgNo"/>
 		<result property="areaNo" column="areaNo"/>
 	</resultMap>
 	
 	<!-- 정기모임등록 등록 -->
 	<insert id="regGatherInsert" >
  		INSERT INTO 
  			reggather (regGatherTitle,regGatherDiscript,regGatherStartDate,regGatherEndDate,
  			     	   regGatherMaxNum,regGatherNowNum,regGatherViewNum,regGatherImg,ctgNo,memId,areaNo) 		
		VALUES 
			(#{regGatherTitle},#{regGatherDiscript},#{regGatherStartDate},#{regGatherEndDate}, 
		 	 #{regGatherMaxNum}, #{regGatherNowNum},#{regGatherViewNum},#{regGatherImg},#{ctgNo},#{memId},#{areaNo})	
  	</insert>
  	
  	<!-- 정기모임 리스트 보기(최신순) -->
  	<select id="listAllGather" resultMap="regGatherResult"> 
  		SELECT 
		    r.regGatherTitle, r.regGatherStartDate, r.regGatherEndDate,
		    r.regGatherMaxNum, r.regGatherNowNum, r.regGatherViewNum,
		    a.areaName
		FROM reggather r
		INNER JOIN area a ON r.areaNo = a.areaNo
		ORDER BY r.regGatherNo DESC
  	</select>
  	
  	<!-- 정기모임 상세 페이지 -->
  	<!-- <select id="regGatherDetailpage" parameterType="int" resultType="com.Me_and_U.project.model.RegGatherVO">
  		SELECT
  		FROM reggather r, category c, area a
  		WHERE c.ctgNo
  	</select> -->
  		
  </mapper>