<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.Me_and_U.project.dao.IGatherDAO">
 	
 	<resultMap id="regGatherResult" type="com.Me_and_U.project.model.RegGatherVO">
 		<result property="regGatherNo" column="regGatherNo"/>
 		<result property="regGatherTitle" column="regGatherTitle"/>
 		<result property="regGatherDiscript" column="regGatherDiscript"/>
 		<result property="regGatherStartDate" column="regGatherStartDate"/>
 		<result property="regGatherEndDate" column="regGatherEndDate"/>
 		<result property="regGatherMaxNum" column="regGatherMaxNum"/>
 		<result property="regGatherNowNum" column="regGatherNowNum"/>
 		<result property="regGatherViewNum" column="regGatherViewNum"/>
 		<result property="regGatherImg" column="regGatherImg"/>
 		<result property="memId" column="memId"/>
 		<result property="ctgNo" column="ctgNo"/>
 		<result property="areaNo" column="areaNo"/>
 	</resultMap>
 	
 	<!-- 정기모임등록 등록 -->
 	<insert id="regGatherInsert" >
  		INSERT INTO 
  			reggather (regGatherTitle,regGatherDiscript,regGatherStartDate,regGatherEndDate,
  			     	   regGatherMaxNum,regGatherNowNum,regGatherViewNum,regGatherImg,ctgNo,memId,areaNo) 		
		VALUES 
			(#{regGatherTitle},#{regGatherDiscript},#{regGatherStartDate},#{regGatherEndDate}, 
		 	 #{regGatherMaxNum}, #{regGatherNowNum},#{regGatherViewNum},#{regGatherImg},#{ctgNo},#{memId},#{areaNo})	
  	</insert>
  	
  	<!-- 정기모임 리스트 보기(최신순) -->
  	<select id="listAllGather" resultMap="regGatherResult"> 
  		SELECT 
		    r.regGatherNo, r.regGatherTitle, r.regGatherStartDate, r.regGatherEndDate,
		    r.regGatherMaxNum, r.regGatherNowNum, r.regGatherViewNum, r.regGatherImg,
		    a.areaName
		FROM reggather r
		INNER JOIN area a ON r.areaNo = a.areaNo
		ORDER BY r.regGatherNo DESC
  	</select>
  	
  	<!-- 정기모임 상세 페이지 -->
  	<select id="detailViewRegGather" parameterType="int" resultType="com.Me_and_U.project.model.RegGatherVO">
  		SELECT r.regGatherNo, r.regGatherTitle, r.regGatherImg, r.regGatherStartDate, r.regGatherEndDate,
  			   a.areaName, c.ctgName, r.regGatherNowNum, r.regGatherMaxNum, r.regGatherDiscript, r.memId
  		FROM reggather r
  		LEFT JOIN category c ON r.ctgNo = c.ctgNo
  			 JOIN area a ON r.areaNo = a.areaNo
  		WHERE r.regGatherNo=#{regGatherNo}
  	</select>
  	
  	<!-- 정기모임삭제 -->
  	<delete id="deleteReg"  parameterType="int">
  		DELETE FROM reggather WHERE regGatherNo = #{regGatherNo}
  	</delete>
  	
  	<!-- 카테고리 변경 -->
  	<select id="ctgChange" resultMap="regGatherResult">
          SELECT r.*, a.areaName FROM reggather r
          INNER JOIN area a 
          ON r.areaNo = a.areaNo
          WHERE r.ctgNo=#{ctgNo}
      </select>
		
	<!-- 지역변경 -->	
     <select id="areaChange" resultMap="regGatherResult">
         SELECT r.*, a.areaName FROM reggather r
         INNER JOIN area a 
         ON r.areaNo = a.areaNo
         WHERE r.areaNo=#{areaNo}
     </select>

	<!-- 카테고리 지역 변경 -->
    <select id="ctg_areaChange" resultMap="regGatherResult">
          SELECT r.*, a.areaName FROM reggather r
          INNER JOIN area a 
          ON r.areaNo = a.areaNo
          WHERE r.areaNo=#{areaNo} AND r.ctgNo=#{ctgNo}
    </select>
      
    <!-- Main 페이지 -->
	<!-- 최신순 4개 출력 -->
	<select id="listRecentGatherList" resultMap="regGatherResult">
		SELECT * 
		FROM reggather
		ORDER BY regGatherNo DESC LIMIT 0,4
	</select>
  		
  </mapper>