<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.Me_and_U.project.dao.IGatherDAO">
 	
 	<resultMap id="regGatherResult" type="com.Me_and_U.project.model.RegGatherVO">
 		<result property="regGatherNo" column="regGatherNo"/>
 		<result property="regGatherTitle" column="regGatherTitle"/>
 		<result property="regGatherDiscript" column="regGatherDiscript"/>
 		<result property="regGatherArea" column="regGatherArea"/>
 		<result property="regGatherAreasub" column="regGatherAreasub"/>
 		<result property="regGatherImg" column="regGatherImg"/>
 		<result property="regGatherStartDate" column="regGatherStartDate"/>
 		<result property="regGatherEndDate" column="regGatherEndDate"/>
 		<result property="regGatherMaxNum" column="regGatherMaxNum"/>
 		<result property="regGatherNowNum" column="regGatherNowNum"/>
 		
 		<result property="memId" column="memId"/>
 		<result property="ctgNo" column="ctgNo"/>
 		<result property="subctgNo" column="subctgNo"/>
 	</resultMap>
 	
 	<!-- 정기모임등록 등록 -->
 	<insert id="regGatherInsert" >
  		INSERT INTO reggather (regGatherTitle,regGatherDiscript,regGatherStartDate,regGatherEndDate,regGatherArea,regGatherAreasub, 
  								regGatherMaxNum,regGatherNowNum,regGatherImg,ctgNo,memId) 		
		 VALUES (#{regGatherTitle},#{regGatherDiscript},#{regGatherStartDate},#{regGatherEndDate}, #{regGatherArea}, #{regGatherAreasub},
		 		  #{regGatherMaxNum}, #{regGatherNowNum},#{regGatherImg},#{ctgNo},#{memId})	
  	</insert>
  	
  	<!-- 정기모임 리스트 보기 -->
  	<select id="listAllGather" resultMap="regGatherResult">
  		SELECT * FROM reggather ORDER BY regGatherNo DESC
  	</select>
  	
  	<!-- 정기모임 리스트 보기 날짜만 따로 뽑기 -->
  		
  </mapper>